function Screen.init 2
push constant 0
not
pop static 0
push constant 16
call Array.new 1
pop static 1
push constant 0
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push static 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push local 1
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.clearScreen 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 4
push constant 16384
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push argument 0
push argument 0
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
sub
push static 1
add
pop pointer 1
push that 0
pop local 2
push local 1
push local 2
and
push constant 0
eq
not
pop local 3
push local 3
push static 0
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 2
sub
pop local 1
label IF_FALSE0
push local 3
not
push static 0
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 2
add
pop local 1
label IF_FALSE1
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.horzLine 1
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop argument 1
label WHILE_EXP0
push local 0
push argument 1
lt
push local 0
push argument 1
eq
or
not
if-goto WHILE_END0
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.vertLine 1
push argument 1
push argument 2
call Math.min 2
pop local 0
push argument 1
push argument 2
call Math.max 2
pop argument 2
label WHILE_EXP0
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto WHILE_END0
push argument 0
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawLine 6
push argument 0
push argument 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 3
call Screen.vertLine 3
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 1
push argument 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push argument 2
push argument 1
call Screen.horzLine 3
pop temp 0
push constant 0
return
label IF_FALSE1
push argument 0
push argument 2
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
pop local 2
push argument 2
pop argument 0
push local 2
pop argument 2
push argument 1
pop local 2
push argument 3
pop argument 1
push local 2
pop argument 3
label IF_FALSE2
push argument 2
push argument 0
sub
pop local 0
push argument 3
push argument 1
sub
pop local 1
push constant 1
pop local 5
push local 1
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop local 5
push local 1
neg
pop local 1
label IF_FALSE3
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto WHILE_END0
push argument 0
push local 2
add
push argument 1
push local 3
push local 5
call Math.multiply 2
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto IF_END4
label IF_FALSE4
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label IF_END4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawRectangle 1
push argument 0
push argument 2
call Math.min 2
pop local 0
push argument 0
push argument 2
call Math.max 2
pop argument 2
label WHILE_EXP0
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto WHILE_END0
push local 0
push argument 1
push local 0
push argument 3
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 3
push argument 2
push argument 2
call Math.multiply 2
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 2
push constant 1
add
lt
not
if-goto WHILE_END0
push local 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 0
add
push argument 1
push local 1
sub
push argument 1
push local 1
add
call Screen.vertLine 3
pop temp 0
push argument 0
push local 0
sub
push argument 1
push local 1
sub
push argument 1
push local 1
add
call Screen.vertLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.pr 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
