function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 16383
pop static 2
push constant 10
pop static 3
push static 1
pop static 4
push static 4
push static 2
push static 1
sub
push constant 1
add
call Memory.poke 2
pop temp 0
push static 4
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 4
push argument 0
push constant 1
add
pop argument 0
push constant 1
neg
pop local 0
push static 4
pop local 1
label WHILE_EXP0
push local 1
push static 0
add
pop pointer 1
push that 0
push argument 0
lt
push local 1
push constant 0
lt
not
and
not
if-goto WHILE_END0
push local 1
pop local 0
push local 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 100
call Sys.error 1
pop temp 0
push constant 1
neg
return
label IF_FALSE0
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 2
push local 3
push argument 0
sub
push static 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
pop argument 0
push local 0
push constant 1
neg
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
pop static 4
goto IF_END2
label IF_FALSE2
push local 0
push constant 1
add
push static 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END2
goto IF_END1
label IF_FALSE1
push local 0
push constant 1
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push argument 0
add
pop static 4
goto IF_END3
label IF_FALSE3
push local 0
push constant 1
add
push static 0
add
push local 1
push argument 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END3
push local 1
push argument 0
add
push static 0
add
push local 3
push argument 0
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push argument 0
add
push constant 1
add
push static 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
push local 1
push static 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
return
function Memory.deAlloc 2
push argument 0
push constant 1
sub
pop local 1
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
push static 0
add
push static 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
pop static 4
push constant 0
return
