function TestWhile.main 1
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push constant 1
eq
not
if-goto WHILE_END0
push constant 2
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
